--extra-index-url https://pypi.nvidia.com
--find-links https://download.pytorch.org/whl/cu124
torch==2.1.2+cu124
torchvision==0.16.2+cu124
torchaudio==2.1.2+cu124
lightning==2.1.2 
torchmetrics==1.2.0